<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.cimp_service.dao.IParseCsvFileDao">
    <insert id="batchSaveInstantPeopleFlow" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_people_flow
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveInstantPeopleFlowAttr" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_people_flow_attr
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveInstantPeopleFlowHome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_people_flow_home
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveInstantPeopleFlowAge" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_people_flow_age
            (time, area_code, amount5, amount10, amount15, amount20, amount25, amount30, amount35, amount40, amount45,
            amount50, amount55, amount60, amount65, amount70, amount_over)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount5},
            #{item.amount10},
            #{item.amount15},
            #{item.amount20},
            #{item.amount25},
            #{item.amount30},
            #{item.amount35},
            #{item.amount40},
            #{item.amount45},
            #{item.amount50},
            #{item.amount55},
            #{item.amount60},
            #{item.amount65},
            #{item.amount70},
            #{item.amountOver})
        </foreach>
    </insert>

    <insert id="batchSaveInstantPeopleFlowSex" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_people_flow_sex
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveInstantInoutFlow" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            instant_inout_flow
            (time, area_code, amount, inout)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.inout})
        </foreach>
    </insert>

    <insert id="batchSaveAreaAppear" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_appear
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveAreaAppearAttr" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_appear_attr
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveAreaAppearHome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_appear_home
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveActiveUser" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            active_user
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveActiveUserAttr" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            active_user_attr
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveActiveUserHome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            active_user_home
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveActiveUserAge" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            active_user_age
            (time, area_code, amount5, amount10, amount15, amount20, amount25, amount30, amount35, amount40, amount45,
            amount50, amount55, amount60, amount65, amount70, amount_over)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount5},
            #{item.amount10},
            #{item.amount15},
            #{item.amount20},
            #{item.amount25},
            #{item.amount30},
            #{item.amount35},
            #{item.amount40},
            #{item.amount45},
            #{item.amount50},
            #{item.amount55},
            #{item.amount60},
            #{item.amount65},
            #{item.amount70},
            #{item.amountOver})
        </foreach>
    </insert>

    <insert id="batchSaveActiveUserSex" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            active_user_sex
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveAreaStayDuration" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_stay_duration
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveAreaStayDurationAttr" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_stay_duration_attr
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveAreaStayDurationHome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_stay_duration_home
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>

    <insert id="batchSaveAreaStayDurationAge" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_stay_duration_age
            (time, area_code, amount5, amount10, amount15, amount20, amount25, amount30, amount35, amount40, amount45,
            amount50, amount55, amount60, amount65, amount70, amount_over)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount5},
            #{item.amount10},
            #{item.amount15},
            #{item.amount20},
            #{item.amount25},
            #{item.amount30},
            #{item.amount35},
            #{item.amount40},
            #{item.amount45},
            #{item.amount50},
            #{item.amount55},
            #{item.amount60},
            #{item.amount65},
            #{item.amount70},
            #{item.amountOver})
        </foreach>
    </insert>

    <insert id="batchSaveAreaStayDurationSex" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            area_stay_duration_sex
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveDailyDay" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            daily_day
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveDailyNight" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            daily_night
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveDailyCommuteRadius" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            daily_commute_radius
            (time, work_area_code, live_area_code, distance)
            VALUES
            (#{item.time},
            #{item.workAreaCode},
            #{item.liveAreaCode},
            #{item.distance})
        </foreach>
    </insert>

    <insert id="batchSaveDailyCommuteTime" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            daily_commute_time
            (time, work_area_code, live_area_code, duration)
            VALUES
            (#{item.time},
            #{item.workAreaCode},
            #{item.liveAreaCode},
            #{item.duration})
        </foreach>
    </insert>

    <insert id="batchSaveTouristAppear" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            tourist_appear
            (time, area_code, amount)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount})
        </foreach>
    </insert>

    <insert id="batchSaveTouristAppearAttr" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            INSERT INTO
            tourist_appear_attr
            (time, area_code, amount, city_code)
            VALUES
            (#{item.time},
            #{item.areaCode},
            #{item.amount},
            #{item.cityCode})
        </foreach>
    </insert>
</mapper>